*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "p h"
}

header{
    display: flex;
    justify-content: center;
}

aside{
    grid-area: p;
    background-image: url(img/Group\ 21.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

main{
    grid-area: h;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

fieldset{
    background-color: rgb(202, 202, 202);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 100px;
    height: 550px;
    column-gap: 50px;
    border-radius: 25px;
}

input[type="submit"]{
    background-color:yellow;
    border-radius: 10px;
    padding: 15px 25px;
}

input[type="password"]{
    border-radius: 10px;
    padding: 15px 25px;
}

input[type="email"]{
    border-radius: 10px;
    padding: 15px 25px;
}

input[type="text"]{
    border-radius: 10px;
    padding: 15px 25px;
}
input[type="email"]:focus{
    background-color: rgb(175, 175, 175);
}
input[type="text"]:focus{
    background-color: rgb(175, 175, 175);
}
input[type="password"]:focus{
    background-color: rgb(175, 175, 175);
}

input[type="submit"]:hover{
    background-color: rgba(212, 212, 0, 0.793);
box-shadow: rgba(0, 0, 0, 0.995) 4px 6px 12px;
transform: scale(0.9);
transition: 0.5s ease-out;
}

@media (max-width:950px){
    aside{
        display: none;
    }
    
}