*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    text-decoration: none;
}

.container{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "h h h h h h h h2 h2 h2"
    "n n n n n n n n n n"
    "m m m m m m m m m m"
    "f f f f f f f f f f"
    }

header{
    grid-area: h;
    background-color:#CBC419;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
    width: 100%;
}

body{
    background-color: rgb(155, 155, 155);
}

header > ul{
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 20px;
    
}

aside{
    grid-area: h2;
    background-color:#CBC419;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    width: 100%;
}

header > ul > li{
    background-color:#CBC419;
}

.pesquisar{
    background-color: white;
}

svg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;   
    width: 70px;
    height: 70px;
}   

nav{
    grid-area: n;
    background-color: #FFF500;
    width: 100%;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.logo{
    justify-content: center;
    display: flex;
}

input[type="text"]{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 370px;
    height: 50px;
    border-radius: 25px;
}

main{
    background-color: rgb(155, 155, 155);
    background-size: auto 1800;
    grid-area: m;
    justify-content: center;
    padding: 180px;
    width: 100%;
    
}

.cards {
    grid-area: m;
    column-gap: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.card{
    width: 300px;

}

.cardimagem img{
    width: 300px;
    height: 200px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
}

.cards > div:hover{
    box-shadow: rgba(0, 0, 0, 0.995) 10px 5px 12px;
    transform: scale(1.08);
    transition: 0.5s ease-in-out;
}

.cardinfo {
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    justify-content: space-around;
    background-color: #a9a416;
    border: 2px black solid;
}

.cardnome {
    border-left: 2px solid black;
    border-right: 2px solid black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #a9a416;
    text-align: center;
    margin-top: -5px;
    padding: 20px;
    overflow: hidden;
    max-width: 300px;
    max-height: 88px;
}

.cardnome p{
  font-size: 1rem;
  font-weight: normal;
}

@media (max-width:650px){
    aside{
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(10px,1fr);
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "h h h h h h h h h h"
        "h2 h2 h2 h2 h2 h2 h2 h2 h2 h2"
        "n n n n n n n n n n"
        "m m m m m m m m m m"
        "f f f f f f f f f f"
        }
    .cards{
        flex-direction: column;
        column-gap: 25px;
    }
}

footer{
    grid-area: f;
    background-color: rgb(155, 155, 155);
    width: 100%;
    height: 100px;
    display: flex;
}

button{
    font-size: 21px;
    background-color: #FFF500;
    border-radius: 25px;
    text-decoration: none;
    width: 100px;
    height: 45px;
}

button:hover{
    box-shadow: rgba(0, 0, 0, 0.995) 10px 5px 12px;
    transform: scale(1.08);
    transition: 0.5s ease-in-out;   
}